<!DOCTYPE HTML>

<html>
  <head>
    <title>CSCI5707 - Team 9</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/svgMap.css" />
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/svgMap.js"></script>
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="shortcut icon" href="assets/img/favicon.ico"/>
  </head>
  <body class="is-preload">
    
    <!-- Wrapper -->
    <div id="wrapper">
      
      <!-- Header -->
      <header id="header" class="alt">
	<span class="logo"><img src="assets/img/logo.svg" alt="" /></span>
	<h1>COVID-19 Informational Website</h1>
	<p>CSCI5707 Team 9 Project<br />
	  Ave Bisesi, Becca Dura, Samuel Johnson, Hezkiel Nanda</p>
      </header>
      
      <!-- Nav -->
      <nav id="nav">
	<ul>
	  <li><a href="#intro" class="active">Global Cases</a></li>
	  <li><a href="#first">Top Cases</a></li>
	  <li><a href="#second">Population</a></li>
	  <li><a href="#third">World Map</a></li>
	  <li><a href="#fourth">State Unemployment</a></li>
	  <li><a href="#cta">Get Started</a></li>
	</ul>
      </nav>
      
      <!-- Main -->
      <div id="main">
	
	<!-- Introduction -->
	<section id="intro" class="main special">
          <header class="major">
	    <h2>COVID-19 Global Cases</h2>
	    <h4>Last Updated: 2020-11-18</h4>
          </header>
          <ul class="features">
            <li>Search by Country: <input type="text" id="search_gc_country" placeholder="Country Name"> <br\></li>
          </ul>
          <div class="table_wrap">
            <div class="table_header">
              <ul>
                <li>
                  <div class="item">
                    <div class="gccountry" style="height:inherit;">
                      <span>COUNTRY</span>
                    </div>
                    <div class="gcncases" style="height:inherit;">
                      <span>NEW CASES</span>
                    </div>
                    <div class="gcccases" style="height:inherit;">
                      <span>TOTAL CASES</span>
		    </div>
		    <div class="gcndeaths" style="height:inherit;">
                      <span>NEW DEATHS</span>
                    </div>
                    <div class="gccdeaths" style="height:inherit;">
                      <span>TOTAL DEATHS</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="table_body">
              <ul id="gcitem">
                <%
                  if(global_covid.length!=0){
                  global_covid.forEach(function(gc){
                  %>
                <li style="display: block;">
                  <div class="item">
                    <div class="gccountry" style="height:inherit;">
                      <span><%=gc.CountryName %></span>
                    </div>
                    <div class="gcncases" style="height:inherit;">
                      <span><%=gc.NewCases %></span>
                    </div>
                    <div class="gcccases" style="height:inherit;">
                      <span><%=gc.TotalCases %></span>
		    </div>
		    <div class="gcndeaths" style="height:inherit;">
                      <span><%=gc.NewDeaths %></span>
		    </div>
		    <div class="gccdeaths" style="height:inherit;">
                      <span><%=gc.TotalDeaths %></span>
                    </div>
                  </div>
                </li>
                <% 		}) %>
                <% 	} else { %>
                <li style="display: block;">
                  <div class="item">
                    <span>NO DATA FOUND</span>
                  </div>
                </li>
                <% 	} %>
              </ul>
            </div>
            <div class="table_footer"></div>
          </div>
        </section>
	
	<!-- First Section -->
	<section id="first" class="main">
	  <header class="major">
	    <h2>Top 30 Global Cases</h2>
	  </header>
	  <canvas id="global_covid" width=500 height=400></canvas>
	</section>
	
	<!-- Second Section -->
	<section id="second" class="main special">
	  <div class="spotlight">
	    <div class="content">
	      <header class="major">
		<h2>Population of Top 30 Global Cases</h2>
	      </header>
	    </div>
	  </div>
	  <canvas id="global_population" width=500 height=400></canvas>
	</section>
	
	<!-- Third Section -->
	<section id="third" class="main">
	  <header class="major">
	    <h2>World Map Data</h2>
	    <h4>Last Updated: 2020-11-18</h4>
	  </header>
	  <div id="svgMapGPD"></div>
	  <script src="assets/js/gdp.js"></script>
	  <script src="assets/js/countriesEN.js"></script>
	  <script>
	    setTimeout(() => {  
		new svgMap({
		    targetElementID: 'svgMapGPD',
		    data: svgMapDataGPD,
		    colorMin: '#FFF0F9',
		    colorMax: '#730B62'
		});
	    }, 1000);
	  </script>
	  <footer class="major">
	    <ul>
	      <li>Elapsed Query Time: <a id="worldmaptime"></a></li>
	      <script>setTimeout(() => {  
    document.getElementById("worldmaptime").innerHTML = timeelapsed + " nanoseconds";
}, 1000);</script>
	    </ul>
	  </footer>
	</section>
	
	<!-- Fourth Section -->
	<section id="fourth" class="main special">
	  <header class="major">
	    <h2>State Unemployment</h2>
	  </header>
	  <ul class="features">
	    <li>Search by State: <input type="text" id="search_su_state" placeholder="State Name"> <br\></li>
	  </ul>
	  <div class="table_wrap">
	    <div class="table_header">
	      <ul>
		<li>
		  <div class="item">
		    <div class="sustate" style="height:inherit; width:25%;">
		      <span>STATE</span>
		    </div>
		    <div class="suinitialclaims" style="height:inherit; width:25%;">
		      <span>NEW CLAIMS</span>
		    </div>
		    <div class="sucontinuedclaims" style="height:inherit; width:25%;">
		      <span>TOTAL CURRENT CLAIMS</span>
		    </div>
		    <div class="suunemploymentrate" style="height:inherit; width:25%;">
		      <span>UNEMPLOYMENT RATE</span>
		    </div>
		  </div>
		</li>
	      </ul>
	    </div>
	    <div class="table_body">
	      <ul id="suitem">
		<%
		  if(state_unemployment.length!=0){
		  state_unemployment.forEach(function(su){
		  %>
		<li style="display: block;">
		  <div class="item">
		    <div class="sustate" style="height:inherit; width:25%;">
		      <span><%=su.StateName %></span>
		    </div>
		    <div class="suinitialclaims" style="height:inherit; width:25%;">
		      <span><%=su.InitialClaims %></span>
		    </div>
		    <div class="sucontinuedclaims" style="height:inherit; width:25%;">
		      <span><%=su.ContinuedClaims %></span>
		    </div>
		    <div class="suunemploymentrate" style="height:inherit; width:25%;">
		      <span><%=su.InsuredUnemploymentRate %></span>
		    </div>
		  </div>
		</li>
		<% 		}) %>
		<% 	} else { %>
		<li style="display: block;">
		  <div class="item">
		    <span>NO DATA FOUND</span>
		  </div>
		</li>
		<% 	} %>
	      </ul>
	    </div>
	    <footer class="major">
	      <p>
		still need to figure out
	      </p>
	    </footer>
	</section>
	<!-- Get Started -->
	<section id="cta" class="main special">
	  <header class="major">
	    <h2>random</h2>
	    <p>anything here</p>
	  </header>
	  <footer class="major">
	    <ul class="actions special">
	      <li><a href="generic.html" class="button primary">Get Started</a></li>
	      <li><a href="generic.html" class="button">Learn More</a></li>
	    </ul>
	  </footer>
	</section>
	
	</div>
	
	<!-- Footer -->
	<footer id="footer">
	  <section>
	    <h2>Aliquam sed mauris</h2>
	    <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
	    <ul class="actions">
	      <li><a href="generic.html" class="button">Learn More</a></li>
	    </ul>
	  </section>
	  <section>
	    <h2>Etiam feugiat</h2>
	    <dl class="alt">
	      <dt>Address</dt>
	      <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
	      <dt>Phone</dt>
	      <dd>(000) 000-0000 x 0000</dd>
	      <dt>Email</dt>
	      <dd><a href="#">information@untitled.tld</a></dd>
	    </dl>
	    <ul class="icons">
	      <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
	      <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
	      <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
	      <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
	      <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
	    </ul>
	  </section>
	  <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
	</footer>
	
      </div>
      
      <!-- Scripts -->
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script>
	// code to draw graph
	function formatgcData(dataArray) {
	    console.log("data sent length: "+dataArray.length);
	    var country = [];
	    var cumulative_cases = [];
	    var cumulative_deaths = [];
	    // var new_cases = [];
	    // var new_deaths = [];
	    for(var i = 0; i < dataArray.length; i++) {
		// console.log(dataArray[i].state_name);
		country[i] = dataArray[i].CountryName;
		cumulative_cases[i] = dataArray[i].TotalCases;
		cumulative_deaths[i] = dataArray[i].TotalDeaths;
		// new_cases[i] = dataArray[i].new_cases;
		// new_deaths[i] = dataArray[i].new_deaths;
	    }
	    
	    var jsonArray = [country, cumulative_cases,cumulative_deaths
			     // ,new_cases,new_deaths
			    ];
	    return jsonArray;
	}
	function formatgpData(dataArray) {
	    console.log("data sent length: "+dataArray.length);
	    var country = [];
	    var pop_2020 = [];
	    var pop_2019 = [];
	    
	    for(var i = 0; i < dataArray.length; i++) {
		country[i] = dataArray[i].CountryName;
		pop_2020[i] = dataArray[i]["2020Population"];
		pop_2019[i] = dataArray[i]["2019Population"];
	    }
	    
	    var jsonArray = [country, pop_2020, pop_2019];
	    return jsonArray;
	}
	
	
	$.post("http://localhost:8080/global_covid", function(data) {
	    listdata = formatgcData(data);
	    var ctx = document.getElementById('global_covid').getContext('2d');
	    var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'bar',
		
		// The data for our dataset
		data: {
		    labels: listdata[0],
		    datasets: [{
			label: 'Cumulative Cases',
			backgroundColor: 'rgb(255, 0, 132)',
			borderColor: 'rgb(255, 0, 132)',
			data: listdata[1]
		    },{
			label: 'Cumulative Deaths',
			backgroundColor: 'rgb(0, 99, 132)',
			borderColor: 'rgb(0, 99, 132)',
			data: listdata[2]
		    }]
		},
		
		options: {
		    scales: {
			yAxes: [{
			    scaleLabel: {
				display: true,
				labelString: 'Persons (log10)',
			    },
			    type: 'logarithmic'
			}]
		    }
		}
	    });
	})
	
	$.post("http://localhost:8080/global_population", function(data) {
	    listdata = formatgpData(data);
	    var ctx = document.getElementById('global_population').getContext('2d');
	    var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'bar',
		
		// The data for our dataset
		data: {
		    labels: listdata[0],
		    datasets: [{
			label: '2020',
			backgroundColor: 'rgb(255, 0, 132)',
			borderColor: 'rgb(255, 0, 132)',
			data: listdata[1]
		    },
			       {
				   label: '2019',
				   backgroundColor: 'rgb(0, 0, 132)',
				   borderColor: 'rgb(0, 0, 132)',
				   data: listdata[2]
			       }]
		},
		
		options: {
		    scales: {
			yAxes: [{
			    scaleLabel: {
				display: true,
				labelString: 'Persons (log10)',
			    },
			    type: 'logarithmic'
			}]
		    }
		}
	    });
	})
	
      </script>
      <script>
	var search_gc_country = document.querySelector("#search_gc_country");
	search_gc_country.addEventListener("keyup", function (e) {
	    var span_items = document.querySelectorAll(".table_body ul li .item .gccountry span");
	    var gc_country = e.target.value.toLowerCase();
	    
	    span_items.forEach(function (item) {
		if (item.textContent.toLowerCase().indexOf(gc_country) != -1) {
		    item.closest("li").style.display = "block";
		    // console.log("true");
		} else {
		    item.closest("li").style.display = "none";
		    // console.log("false");
		}
	    });
	    console.log(gc_country);
	});
	var search_su_state = document.querySelector("#search_su_state");
	search_su_state.addEventListener("keyup", function (e) {
	    var span_items = document.querySelectorAll(".table_body ul li .item .sustate span");
	    var su_state = e.target.value.toLowerCase();
	    
	    span_items.forEach(function (item) {
		if (item.textContent.toLowerCase().indexOf(su_state) != -1) {
		    item.closest("li").style.display = "block";
		    // console.log("true");
		} else {
		    item.closest("li").style.display = "none";
		    // console.log("false");
		}
	    });
	    console.log(su_state);
	});
      </script>
  </body>
</html>
B
