<!DOCTYPE HTML>

<html>
	<head>
		<title>CSCI5707 - Team 9</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/svgMap.css" />
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/svgMap.js"></script>
		<script src="assets/js/usmapdata.js"></script>
		<script src="assets/js/usmap.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" href="assets/img/favicon.ico"/>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="assets/img/logo.svg" alt="" /></span>
						<h1>COVID-19 Informational Website</h1>
						<p>CSCI5707 Team 9 Project<br />
						  Ave Bisesi, Becca Dura, Samuel Johnson, Hezkiel Nanda</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Global COVID</a></li>
							<li><a href="#first">State COVID</a></li>
							<li><a href="#second">GDP</a></li>
							<li><a href="#third">Import and Exports</a></li>
							<li><a href="#fourth">Unemployment</a></li>
							<li><a href="#cta">Data Sources</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
						<section id="intro" class="main special">

						<header class="major">
								<h1>Global COVID-19 Section</h1>
							</header>

							<header class="major">
								<h2>World Map COVID-19 Data</h2>
							</header>
							<div id="svgMapGPD"></div>
							<script src="assets/js/gdp.js"></script>
							<script src="assets/js/countriesEN.js"></script>
							<script>
							setTimeout(() => {  
							new svgMap({
								targetElementID: 'svgMapGPD',
								data: svgMapDataGPD,
								colorMin: '#FFF0F9',
								colorMax: '#730B62'
							});
							}, 1000);
							</script>
							<footer class="major">
							<ul>
								<li>Elapsed Query Time: <a id="worldmaptime"></a></li>
								<script>setTimeout(() => {  
						document.getElementById("worldmaptime").innerHTML = timeelapsed + " nanoseconds";
					}, 1000);</script>
							</ul>
							<p>Last Updated: 11-18-2020</p>
							</footer>

                            
                        </section>

						<!-- First Section -->
						<section id="first" class="main special">

						<header class="major">
								<h1>State COVID-19 Section</h1>
							</header>

							<header class="major">
                                <h2>US State COVID-19 Data</h2>
                            </header>
                            <ul class="features">
                                <li>Search by State: <input type="text" id="search_sc_state" placeholder="State Name"> <br\></li>
                            </ul>
                            <div class="table_wrap">
                                <div class="table_header">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <div class="scstate" style="height:inherit; width:15%;">
                                                    <span>STATE</span>
                                                </div>
												<div class="scpositive" style="height:inherit; width:12%;">
                                                    <span>TOTAL POSITIVE</span>
                                                </div>
                                                <div class="scdeaths" style="height:inherit; width:12%;">
                                                    <span>TOTAL DEATHS</span>
                                                </div>
												<div class="scnegative" style="height:inherit; width:12%;">
                                                    <span>TOTAL NEGATIVE</span>
                                                </div>
												<div class="screcovered" style="height:inherit; width:12%;">
                                                    <span>TOTAL RECOVERED</span>
                                                </div>
												<div class="sctests" style="height:inherit; width:12%;">
                                                    <span>TOTAL TESTS</span>
                                                </div>
												<div class="schospitalized" style="height:inherit; width:12%;">
                                                    <span>TOTAL HOSPITALIZED</span>
                                                </div>
                                                <div class="scicu" style="height:inherit; width:12%;">
                                                    <span>TOTAL ICU</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table_body">
                                    <ul id="scitem">
                                        <%
                                        if(state_covid.length!=0){
                                        state_covid.forEach(function(sc){
                                        %>
                                        <li style="display: block;">
                                            <div class="item">
                                                <div class="scstate" style="height:inherit; width:15%;">
                                                    <span><%=sc.StateName %></span>
                                                </div>
												<div class="scpositive" style="height:inherit; width:12%;">
                                                    <span><%=sc.Positive %></span>
                                                </div>
                                                <div class="scdeaths" style="height:inherit; width:12%;">
                                                    <span><%=sc.TotalDeaths %></span>
                                                </div>
												<div class="scnegative" style="height:inherit; width:12%;">
                                                    <span><%=sc.TotalNegative %></span>
                                                </div>
												<div class="screcovered" style="height:inherit; width:12%;">
                                                    <span><%=sc.Recovered %></span>
                                                </div>
												<div class="sctests" style="height:inherit; width:12%;">
                                                    <span><%=sc.TotalTests %></span>
                                                </div>
												<div class="schospitalized" style="height:inherit; width:12%;">
                                                    <span><%=sc.TotalHospitalized %></span>
                                                </div>
                                                <div class="scicu" style="height:inherit; width:12%;">
                                                    <span><%=sc.TotalICU %></span>
                                                </div>
                                            </div>
                                        </li>
                                        <% 		}) %>
                                        <% 	} else { %>
                                        <li style="display: block;">
                                            <div class="item">
                                                <span>NO DATA FOUND</span>
                                            </div>
                                        </li>
                                        <% 	} %>
                                    </ul>
                                </div>
                                <div class="table_footer"></div>
                            </div>
							<footer class="major">
									  <p>
									Last Updated: 11-18-2020
									  </p>
							</footer>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US Map COVID-19 Data</h2>
							</header>
                            
							<div id="usamap"></div>
								<body class="major">
									<ul>
										<li>Elapsed Query Time: <a id="usamaptime"></a></li>
										<script>setTimeout(() => {  
											document.getElementById("usamaptime").innerHTML = usaelapsed + " nanoseconds";
										}, 1000);</script>
									</ul>
								</body>

								<footer class="major">
									  <p>
									Last Updated: 11-18-2020
									  </p>
							</footer>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US States with Most Covid Cases</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="state_covid" width=500 height=400>
							</div>

							<footer class="major">
									  <p>
									Last Updated: 11-18-2020
									  </p>
							</footer>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US Cases Over Time</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="global_covid2" width=500 height=400>
							</div>
						</section>

						

						<!-- Second Section -->
						<section id="second" class="main special">

						<header class="major">
								<h1>GDP Section</h1>
							</header>

							<header class="major">
									<h2>US National GDP</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="national_gdp" width=500 height=400>
							</div>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US Personal Consumption</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="national_pc" width=500 height=400>
							</div>
						</section>

						<!-- Third Section -->
						<section id="third" class="main special">

						<header class="major">
								<h1>Imports and Exports Section</h1>
							</header>

							<header class="major">
									<h2>US Imports and Exports</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="national_impexp" width=500 height=400>
							</div>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US Imports by Category</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="country_imports" width=500 height=400>
							</div>

							<br>
							<br>
							<br>
							<br>
							<br>

							<header class="major">
								<h2>US Exports by Category</h2>
							</header>
							<div class="chart-container" style="position: relative;">
								<canvas id="national_egs" width=500 height=400>
							</div>

						</section>

						<!-- Fourth Section -->
							<section id="fourth" class="main special">

							<header class="major">
								<h1>Unemployment Section</h1>
							</header>

								<header class="major">
									<h2>US State Unemployment</h2>
								  </header>
								  <ul class="features">
									<li>Search by State: <input type="text" id="search_su_state" placeholder="State Name"> <br\></li>
								  </ul>
								  <div class="table_wrap">
									<div class="table_header">
									  <ul>
									<li>
									  <div class="item">
										<div class="sustate" style="height:inherit; width:25%;">
										  <span>STATE</span>
										</div>
										<div class="suinitialclaims" style="height:inherit; width:25%;">
										  <span>NEW CLAIMS</span>
										</div>
										<div class="sucontinuedclaims" style="height:inherit; width:25%;">
										  <span>TOTAL CURRENT CLAIMS</span>
										</div>
										<div class="suunemploymentrate" style="height:inherit; width:25%;">
										  <span>UNEMPLOYMENT RATE</span>
										</div>
									  </div>
									</li>
									  </ul>
									</div>
									<div class="table_body">
									  <ul id="suitem">
									<%
									  if(state_unemployment.length!=0){
									  state_unemployment.forEach(function(su){
									  %>
									<li style="display: block;">
									  <div class="item">
										<div class="sustate" style="height:inherit; width:25%;">
										  <span><%=su.StateName %></span>
										</div>
										<div class="suinitialclaims" style="height:inherit; width:25%;">
										  <span><%=su.InitialClaims %></span>
										</div>
										<div class="sucontinuedclaims" style="height:inherit; width:25%;">
										  <span><%=su.ContinuedClaims %></span>
										</div>
										<div class="suunemploymentrate" style="height:inherit; width:25%;">
										  <span><%=su.InsuredUnemploymentRate %></span>
										</div>
									  </div>
									</li>
									<% 		}) %>
									<% 	} else { %>
									<li style="display: block;">
									  <div class="item">
										<span>NO DATA FOUND</span>
									  </div>
									</li>
									<% 	} %>
									  </ul>
									</div>
									<footer class="major">
									  <p>
									Last Updated: 10-31-2020
									  </p>
									</footer>

									<br>
									<br>
									<br>
									<br>
									<br>
									
									<header class="major">
										<h2>Unemployment Rates for States with Most COVID-19 Cases</h2>
									  </header>
									<div class="chart-container" style="position: relative;">
									  <canvas id="state_unemployment" width=500 height=400>
									</div>	    
								
							</section>
						<!-- Get Started -->
							<section id="cta" class="main special">

							<header class="major">
								<h1>Data Sources</h1>
							</header>
							
							<dl>
							  <dt>Effects of COVID-19</dt>
							  <dd><a href="https://libguides.stanford.edu/covid19">https://libguides.stanford.edu/covid19</a></dd>
							  <br>
							  <dt>Global COVID-19 Data</dt>
							  <dd><a href="https://ourworldindata.org/coronavirus-source-data">https://ourworldindata.org/coronavirus-source-data</a></dd>
							  <br>
							  <dt>State COVID-19 Data</dt>
							  <dd><a href="https://covidtracking.com/data/download">https://covidtracking.com/data/download</a></dd>
							  <br>
							  <dt>Country Population Data</dt>
							  <dd>*insert country popualation source from Hez</dd>
							  <br>
							  <dt>State Population Data</dt>
							  <dd><a href="https://data.ers.usda.gov/reports.aspx?ID=17827">https://data.ers.usda.gov/reports.aspx?ID=17827</a></dd>
							  <br>
							  <dt>GDP, Imports, and Exports Data</dt>
							  <dd><a href="https://apps.bea.gov/iTable/index_nipa.cfm">https://apps.bea.gov/iTable/index_nipa.cfm</a></dd>
							  <br>
							  <dt>Country Imports by Commodity Type</dt>
							  <dd><a href="https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityimports">https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/uktradecountrybycommodityimports</a></dd>
							  <br>
							  <dt>Unemployment Data</dt>
							  <dd><a href="https://oui.doleta.gov/unemploy/claims.asp">https://oui.doleta.gov/unemploy/claims.asp</a></dd>
							</dl>

							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Thank you for viewing our website!</h2>
							<p>We hope you enjoyed our website and learned something about how COVID-19 has affected the US and global economies.  Please, feel free to reach out to any of us by email if you have any questions.  By staying home, wearing your mask, social distancing, washing your hands frequently, and following CDC guidelines, we can overcome COVID-19 together!</p>
							
						</section>
						<section>
							<h2>Emails</h2>
							<dl class="alt">
								<dt>Ave&nbsp;Bisesi</dt>
								<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bises004@umn.edu</dd>
								<dt>Becca&nbsp;Dura</dt>
								<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dura0083@umn.edu</dd>
								<dt>Samuel&nbsp;Johnson</dt>
								<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;joh13333@umn.edu</dd>
								<dt>Hezkiel&nbsp;Nanda</dt>
								<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nanda072@umn.edu</a></dd>
							</dl>
							
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

		<script>
			// code to draw graph
			function formatscData(dataArray) {
				console.log("data sent length: "+dataArray.length);
				var StateName = []; 
				var TotalDeaths = [];
				var TotalICU = [];
				var TotalHospitalized = [];
				var TotalNegative = [];
				var Positive = [];
				var TotalOnVentilator = [];
				var Recovered = [];
				var TotalTests = [];
				for(var i = 0; i < dataArray.length; i++) {
					// console.log(dataArray[i].state_name);
					StateName[i] = dataArray[i].StateName;
					TotalDeaths[i] = dataArray[i].TotalDeaths;
					TotalICU[i] = dataArray[i].TotalICU;
					TotalHospitalized[i] = dataArray[i].TotalHospitalized;
					TotalNegative[i] = dataArray[i].TotalNegative;
					Positive[i] = dataArray[i].Positive;
					TotalOnVentilator[i] = dataArray[i].TotalOnVentilator;
					Recovered[i] = dataArray[i].Recovered;
					TotalTests[i] = dataArray[i].TotalTests;
				}

				var jsonArray = [StateName, TotalDeaths, TotalICU, TotalHospitalized, TotalNegative, Positive, TotalOnVentilator, Recovered, TotalTests];
				return jsonArray;
			}

			

			function formatciData(dataArray) {
			    console.log("data sent length: "+dataArray.length);
			    var Commodity = []; 
				var c2019Jan = [];
				var c2019Feb = [];
				var c2019Mar = [];
				var c2019Apr = [];
				var c2019May = [];
				var c2019Jun = [];
				var c2019Jul = [];
				var c2019Aug = [];
				var c2019Sep = [];
				var c2019Oct = [];
				var c2019Nov = [];
				var c2019Dec = [];
				var c2020Jan = [];
				var c2020Feb = [];
				var c2020Mar = [];
				var c2020Apr = [];
				var c2020May = [];
				var c2020Jun = [];
				var c2020Jul = [];
				var c2020Aug = [];
				var c2020Sep = [];
			    for(var i = 0; i < dataArray.length; i++) {
			        Commodity[i] = dataArray[i].Commodity;
					c2019Jan[i] = dataArray[i]["2019Jan"];
					c2019Feb[i] = dataArray[i]["2019Feb"];
					c2019Mar[i] = dataArray[i]["2019Mar"];
					c2019Apr[i] = dataArray[i]["2019Apr"];
					c2019May[i] = dataArray[i]["2019May"];
					c2019Jun[i] = dataArray[i]["2019Jun"];
					c2019Jul[i] = dataArray[i]["2019Jul"];
					c2019Aug[i] = dataArray[i]["2019Aug"];
					c2019Sep[i] = dataArray[i]["2019Sep"];
					c2019Oct[i] = dataArray[i]["2019Oct"];
					c2019Nov[i] = dataArray[i]["2019Nov"];
					c2019Dec[i] = dataArray[i]["2019Dec"];
					c2020Jan[i] = dataArray[i]["2020Jan"];
					c2020Feb[i] = dataArray[i]["2020Feb"];
					c2020Mar[i] = dataArray[i]["2020Mar"];
					c2020Apr[i] = dataArray[i]["2020Apr"];
					c2020May[i] = dataArray[i]["2020May"];
					c2020Jun[i] = dataArray[i]["2020Jun"];
					c2020Jul[i] = dataArray[i]["2020Jul"];
					c2020Aug[i] = dataArray[i]["2020Aug"];
					c2020Sep[i] = dataArray[i]["2020Sep"];
			    }

				var jsonArray = [Commodity, c2019Jan, c2019Feb, c2019Mar, c2019Apr, c2019May, c2019Jun, c2019Jul, c2019Aug, c2019Sep, c2019Oct, c2019Nov, c2019Dec, c2020Jan, c2020Feb, c2020Mar, c2020Apr, c2020May, c2020Jun, c2020Jul, c2020Aug, c2020Sep];
			    return jsonArray;
			}


			function formatnieData(dataArray) {
			    console.log("data sent length: "+dataArray.length);
				var SubCategory1 = [];
				var Q1_2019 = [];
				var Q2_2019 = [];
				var Q3_2019 = [];
				var Q4_2019 = [];
				var Q1_2020 = [];
				var Q2_2020 = [];
				var Q3_2020 = [];
			    for(var i = 0; i < dataArray.length; i++) {
			        SubCategory1[i] = dataArray[i].SubCategory1;
					Q1_2019[i] = dataArray[i].Q1_2019;
					Q2_2019[i] = dataArray[i].Q2_2019;
					Q3_2019[i] = dataArray[i].Q3_2019;
					Q4_2019[i] = dataArray[i].Q4_2019;
					Q1_2020[i] = dataArray[i].Q1_2020;
					Q2_2020[i] = dataArray[i].Q2_2020;
					Q3_2020[i] = dataArray[i].Q3_2020;
			    }
				var jsonArray = [SubCategory1, Q1_2019, Q2_2019, Q3_2019, Q4_2019, Q1_2020, Q2_2020, Q3_2020];
			    return jsonArray;
			}
			
			function formatngData(dataArray) {
			    console.log("data sent length: "+dataArray.length);
				var Q1_2019 = [];
				var Q2_2019 = [];
				var Q3_2019 = [];
				var Q4_2019 = [];
				var Q1_2020 = [];
				var Q2_2020 = [];
				var Q3_2020 = [];
			    for(var i = 0; i < dataArray.length; i++) {
					Q1_2019[i] = dataArray[i].Q1_2019;
					Q2_2019[i] = dataArray[i].Q2_2019;
					Q3_2019[i] = dataArray[i].Q3_2019;
					Q4_2019[i] = dataArray[i].Q4_2019;
					Q1_2020[i] = dataArray[i].Q1_2020;
					Q2_2020[i] = dataArray[i].Q2_2020;
					Q3_2020[i] = dataArray[i].Q3_2020;
			    }
				var jsonArray = [Q1_2019, Q2_2019, Q3_2019, Q4_2019, Q1_2020, Q2_2020, Q3_2020];
			    return jsonArray;
			}


			function formatgc2Data(dataArray) {
			    console.log("data sent length: "+dataArray.length);
				var date2 = [];
				var sum_cases = [];
				var sum_deaths = [];
			    for(var i = 0; i < dataArray.length; i++) {
					date2[i] = dataArray[i].date2;
					sum_cases[i] = dataArray[i].sum_cases;
					sum_deaths[i] = dataArray[i].sum_deaths;
			    }
				var jsonArray = [date2, sum_cases, sum_deaths];
			    return jsonArray;
			}

			function formatsuData(dataArray) {
				console.log("data sent length: "+dataArray.length);
				var date = [];
				var u_state1 = [];
				var u_state2 = [];
				var u_state3 = [];
				var u_state4 = [];
				var u_state5 = [];
				var state1 = "Null";
				var state2 = "Null";
				var state3 = "Null";
				var state4 = "Null";
				var state5 = "Null";
				var i1 = 0;
				var i2 = 0;
				var i3 = 0;
				var i4 = 0;
				var i5 = 0;
	    
				for(var i = 0; i < dataArray.length; i++) {
				var state = dataArray[i]["StateName"];
				if (state1 == "Null") { state1 = state;}
				else if (state2 == "Null" && state1 != state) { state2 = state;}
				else if (state3 == "Null" && state2 != state && state1 != state) { state3 = state;}
				else if (state4 == "Null" && state3 != state && state2 != state && state1 != state) { state4 = state;}
				else if (state5 == "Null" && state4 != state && state3 != state && state2 != state && state1 != state) { state5 = state;}
		
				if (dataArray[i]["StateName"] == state1) {
					u_state1[i1] = dataArray[i]["InsuredUnemploymentRate"];
					date[i1++] = [dataArray[i]["FiledWeekEnded"][0]+
						  dataArray[i]["FiledWeekEnded"][1]+
						  dataArray[i]["FiledWeekEnded"][2]+
						  dataArray[i]["FiledWeekEnded"][3]+
						  dataArray[i]["FiledWeekEnded"][4]+
						  dataArray[i]["FiledWeekEnded"][5]+
						  dataArray[i]["FiledWeekEnded"][6]+
						  dataArray[i]["FiledWeekEnded"][7]+
						  dataArray[i]["FiledWeekEnded"][8]+
						  dataArray[i]["FiledWeekEnded"][9]];
				}
				if (dataArray[i]["StateName"] == state2) { u_state2[i2++] = dataArray[i]["InsuredUnemploymentRate"];}
				if (dataArray[i]["StateName"] == state3) { u_state3[i3++] = dataArray[i]["InsuredUnemploymentRate"];}
				if (dataArray[i]["StateName"] == state4) { u_state4[i4++] = dataArray[i]["InsuredUnemploymentRate"];}
				if (dataArray[i]["StateName"] == state5) { u_state5[i5++] = dataArray[i]["InsuredUnemploymentRate"];}
				}
				var jsonArray = [date, [state1,state2,state3,state4,state5], u_state1, u_state2, u_state3, u_state4, u_state5];
				return jsonArray;
			}

			function formatnpcData(dataArray) {
			    console.log("data sent length: "+dataArray.length);
				var SubCategory1 = [];
				var Q1_2019 = [];
				var Q2_2019 = [];
				var Q3_2019 = [];
				var Q4_2019 = [];
				var Q1_2020 = [];
				var Q2_2020 = [];
				var Q3_2020 = [];
			    for(var i = 0; i < dataArray.length; i++) {
					SubCategory1[i] = dataArray[i].SubCategory1;
					Q1_2019[i] = dataArray[i].Q1_2019;
					Q2_2019[i] = dataArray[i].Q2_2019;
					Q3_2019[i] = dataArray[i].Q3_2019;
					Q4_2019[i] = dataArray[i].Q4_2019;
					Q1_2020[i] = dataArray[i].Q1_2020;
					Q2_2020[i] = dataArray[i].Q2_2020;
					Q3_2020[i] = dataArray[i].Q3_2020;
			    }
				var jsonArray = [SubCategory1, Q1_2019, Q2_2019, Q3_2019, Q4_2019, Q1_2020, Q2_2020, Q3_2020];
			    return jsonArray;
			}

			function formatnegsData(dataArray) {
			    console.log("data sent length: "+dataArray.length);
				var SubCategory1 = [];
				var Q1_2019 = [];
				var Q2_2019 = [];
				var Q3_2019 = [];
				var Q4_2019 = [];
				var Q1_2020 = [];
				var Q2_2020 = [];
				var Q3_2020 = [];
			    for(var i = 0; i < dataArray.length; i++) {
			        SubCategory1[i] = dataArray[i].SubCategory1;
					Q1_2019[i] = dataArray[i].Q1_2019;
					Q2_2019[i] = dataArray[i].Q2_2019;
					Q3_2019[i] = dataArray[i].Q3_2019;
					Q4_2019[i] = dataArray[i].Q4_2019;
					Q1_2020[i] = dataArray[i].Q1_2020;
					Q2_2020[i] = dataArray[i].Q2_2020;
					Q3_2020[i] = dataArray[i].Q3_2020;
			    }
				var jsonArray = [SubCategory1, Q1_2019, Q2_2019, Q3_2019, Q4_2019, Q1_2020, Q2_2020, Q3_2020];
			    return jsonArray;
			}
	
	
			$.post("http://localhost:8080/state_covid", function(data) {
						listdata = formatscData(data);
						var ctx = document.getElementById('state_covid').getContext('2d');
						var chart = new Chart(ctx, {
							// The type of chart we want to create
							type: 'bar',

							// The data for our dataset
							data: {
								labels: listdata[0],
								datasets: [{
									label: 'Cumulative Cases',
									backgroundColor: 'rgb(255, 0, 132)',
									borderColor: 'rgb(255, 0, 132)',
									data: listdata[5]
								},{
									label: 'Cumulative Deaths',
									backgroundColor: 'rgb(0, 99, 132)',
									borderColor: 'rgb(0, 99, 132)',
									data: listdata[1]
								}]
							},

							options: {
								scales: {
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: 'Count (log10 scale)',
										},
										type: 'logarithmic'
									}]
								}
							}
						});
					})
	
			

			$.post("http://localhost:8080/country_imports", function(data) {
				listdata = formatciData(data);
				var ctx = document.getElementById('country_imports').getContext('2d');
				var chart = new Chart(ctx, {
					// The type of chart we want to create
					type: 'line',

					// The data for our dataset
					data: {
						labels: ['2019Jan', '2019Feb', '2019Mar', '2019Apr', '2019May', '2019Jun', '2019Jul', '2019Aug', '2019Sep', '2019Oct', '2019Nov', '2019Dec', '2020Jan', '2020Feb', '2020Mar', '2020Apr', '2020May', '2020Jun', '2020Jul', '2020Aug', '2020Sep'],
						datasets: [{ 
						data: [listdata[1][0], listdata[2][0], listdata[3][0], listdata[4][0], listdata[5][0], listdata[6][0], listdata[7][0], listdata[8][0], listdata[9][0], listdata[10][0], listdata[11][0], listdata[12][0], listdata[13][0], listdata[14][0], listdata[15][0], listdata[16][0], listdata[17][0], listdata[18][0], listdata[19][0], listdata[20][0], listdata[21][0]],
						label: listdata[0][0],
						borderColor: "#3e95cd",
						fill: false
					  },{ 
						data: [listdata[1][1], listdata[2][1], listdata[3][1], listdata[4][1], listdata[5][1], listdata[6][1], listdata[7][1], listdata[8][1], listdata[9][1], listdata[10][1], listdata[11][1], listdata[12][1], listdata[13][1], listdata[14][1], listdata[15][1], listdata[16][1], listdata[17][1], listdata[18][1], listdata[19][1], listdata[20][1], listdata[21][1]],
						label: listdata[0][1],
						borderColor: "#f69006",
						fill: false
					  },{ 
						data: [listdata[1][2], listdata[2][2], listdata[3][2], listdata[4][2], listdata[5][2], listdata[6][2], listdata[7][2], listdata[8][2], listdata[9][2], listdata[10][2], listdata[11][2], listdata[12][2], listdata[13][2], listdata[14][2], listdata[15][2], listdata[16][2], listdata[17][2], listdata[18][2], listdata[19][2], listdata[20][2], listdata[21][2]],
						label: listdata[0][2],
						borderColor: "#ffe933",
						fill: false
					  },{ 
						data: [listdata[1][3], listdata[2][3], listdata[3][3], listdata[4][3], listdata[5][3], listdata[6][3], listdata[7][3], listdata[8][3], listdata[9][3], listdata[10][3], listdata[11][3], listdata[12][3], listdata[13][3], listdata[14][3], listdata[15][3], listdata[16][3], listdata[17][3], listdata[18][3], listdata[19][3], listdata[20][3], listdata[21][3]],
						label: listdata[0][3],
						borderColor: "#53ff33",
						fill: false
					  },{ 
						data: [listdata[1][4], listdata[2][4], listdata[3][4], listdata[4][4], listdata[5][4], listdata[6][4], listdata[7][4], listdata[8][4], listdata[9][4], listdata[10][4], listdata[11][4], listdata[12][4], listdata[13][4], listdata[14][4], listdata[15][4], listdata[16][4], listdata[17][4], listdata[18][4], listdata[19][4], listdata[20][4], listdata[21][4]],
						label: listdata[0][4],
						borderColor: "#047238",
						fill: false
					  },{ 
						data: [listdata[1][5], listdata[2][5], listdata[3][5], listdata[4][5], listdata[5][5], listdata[6][5], listdata[7][5], listdata[8][5], listdata[9][5], listdata[10][5], listdata[11][5], listdata[12][5], listdata[13][5], listdata[14][5], listdata[15][5], listdata[16][5], listdata[17][5], listdata[18][5], listdata[19][5], listdata[20][5], listdata[21][5]],
						label: listdata[0][5],
						borderColor: "#33fdff",
						fill: false
					  },{ 
						data: [listdata[1][6], listdata[2][6], listdata[3][6], listdata[4][6], listdata[5][6], listdata[6][6], listdata[7][6], listdata[8][6], listdata[9][6], listdata[10][6], listdata[11][6], listdata[12][6], listdata[13][6], listdata[14][6], listdata[15][6], listdata[16][6], listdata[17][6], listdata[18][6], listdata[19][6], listdata[20][6], listdata[21][6]],
						label: listdata[0][6],
						borderColor: "#de33ff",
						fill: false
					  },{ 
						data: [listdata[1][7], listdata[2][7], listdata[3][7], listdata[4][7], listdata[5][7], listdata[6][7], listdata[7][7], listdata[8][7], listdata[9][7], listdata[10][7], listdata[11][7], listdata[12][7], listdata[13][7], listdata[14][7], listdata[15][7], listdata[16][7], listdata[17][7], listdata[18][7], listdata[19][7], listdata[20][7], listdata[21][7]],
						label: listdata[0][7],
						borderColor: "#ff33cd",
						fill: false
					  },{ 
						data: [listdata[1][8], listdata[2][8], listdata[3][8], listdata[4][8], listdata[5][8], listdata[6][8], listdata[7][8], listdata[8][8], listdata[9][8], listdata[10][8], listdata[11][8], listdata[12][8], listdata[13][8], listdata[14][8], listdata[15][8], listdata[16][8], listdata[17][8], listdata[18][8], listdata[19][8], listdata[20][8], listdata[21][8]],
						label: listdata[0][8],
						borderColor: "#8a8789",
						fill: false
					  },{ 
						data: [listdata[1][9], listdata[2][9], listdata[3][9], listdata[4][9], listdata[5][9], listdata[6][9], listdata[7][9], listdata[8][9], listdata[9][9], listdata[10][9], listdata[11][9], listdata[12][9], listdata[13][9], listdata[14][9], listdata[15][9], listdata[16][9], listdata[17][9], listdata[18][9], listdata[19][9], listdata[20][9], listdata[21][9]],
						label: listdata[0][9],
						borderColor: "#d6162a",
						fill: false
					  }]
					},
		
				options: {
					scales: {
					yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'Billions of Dollars',
						}
					}]
					}
				}
				});
			})

			$.post("http://localhost:8080/national_impexp", function(data) {
				listdata = formatnieData(data);
				var ctx = document.getElementById('national_impexp').getContext('2d');
				var chart = new Chart(ctx, {
					// The type of chart we want to create
					type: 'line',
					// The data for our dataset
					data: {
						labels: ['First Quarter 2019', 'Second Quarter 2019', 'Third Quarter 2019', 'Fourth Quarter 2019', 'First Quarter 2020', 'Second Quarter 2020', 'Third Quarter 2020'],
						datasets: [{ 
						data: [listdata[1][0], listdata[2][0], listdata[3][0], listdata[4][0], listdata[5][0], listdata[6][0], listdata[7][0]],
						label: listdata[0][0],
						borderColor: "#3e95cd",
						fill: false
					  },{ 
						data: [listdata[1][1], listdata[2][1], listdata[3][1], listdata[4][1], listdata[5][1], listdata[6][1], listdata[7][1]],
						label: listdata[0][1],
						borderColor: "#ff5733",
						fill: false
					  }]
					},
		
				options: {
					scales: {
					yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'Billions of Dollars',
						}
					}]
					}
				}
				});
			})

			const decimals = 1
			
			$.post("http://localhost:8080/national_gdp", function(data) {
						listdata = formatngData(data);
						var ctx = document.getElementById('national_gdp').getContext('2d');
						var chart = new Chart(ctx, {
							// The type of chart we want to create
							type: 'bar',
							// The data for our dataset
							data: {
								labels: ['First Quarter 2019', 'Second Quarter 2019', 'Third Quarter 2019', 'Fourth Quarter 2019', 'First Quarter 2020', 'Second Quarter 2020', 'Third Quarter 2020',],
								datasets: [{
									label: 'GDP Growth',
									backgroundColor: 'rgb(255, 0, 132)',
									borderColor: 'rgb(255, 0, 132)',
									data: [((21115.3-20909.9)/20909.9)*100, ((21329.9-21115.3)/21115.3)*100, ((21540.3-21329.9)/21329.9)*100, ((21747.4-21540.3)/21540.3)*100, ((21561.1-21747.4)/21747.4)*100, ((19520.1-21561.1)/21561.1)*100, ((21157.6-19520.1)/19520.1)*100] 
								}]
							},
							options: {
								scales: {
									yAxes: [{
										ticks: {
											callback: function(value, index, values){
												return value.toFixed(decimals) + '%';
											}
										},
										scaleLabel: {
											display: true,
											labelString: 'Quarterly GDP Growth',
										},
									}]
								}
							}
						});
					})

				$.post("http://localhost:8080/global_covid2", function(data) {
				listdata = formatgc2Data(data);
				var ctx = document.getElementById('global_covid2').getContext('2d');
				var chart = new Chart(ctx, {
					// The type of chart we want to create
					type: 'line',
					// The data for our dataset
					data: {
						labels: ['Dec2019', 'Jan2020', 'Feb2020', 'Mar2020', 'Apr2020', 'May2020', 'Jun2020', 'Jul2020', 'Aug2020', 'Sep2020', 'Oct2020', 'Nov2020'],
						datasets: [{ 
						data: listdata[1],
						label: "New Cases",
						borderColor: "#3e95cd",
						fill: false
					  },{ 
						data: listdata[2],
						label: "New Deaths",
						borderColor: "#ff5733",
						fill: false
					  }]
					},
		
				options: {
					scales: {
					yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'Count',
					
						},
						
					}]
					}
				}
				});
			})

			$.post("http://localhost:8080/state_unemployment", function(data) {
			console.log(data)
			listdata = formatsuData(data);
			var ctx = document.getElementById('state_unemployment').getContext('2d');
			var chart = new Chart(ctx, {
			// The type of chart we want to create
			type: 'line',
		
			// The data for our dataset
			data: {
				labels: listdata[0],
				datasets: [{ 
				data: listdata[2],
				label: listdata[1][0],
				borderColor: "#3e95cd",
				fill: false
				}, {
				data: listdata[3],
				label: listdata[1][1],
				borderColor: "#ff5733",
				fill: false
				}, {
		    		data: listdata[4],
				label: listdata[1][2],
				borderColor: "#ffe933",
				fill: false
				}, {
		    		data: listdata[5],
				label: listdata[1][3],
				borderColor: "#53ff33",
				fill: false
				}, {
		    		data: listdata[6],
				label: listdata[1][4],
				borderColor: "#8a8789",
				fill: false
				}]
			},
		
			options: {
				scales: {
				yAxes: [{
					scaleLabel: {
					display: true,
					labelString: 'Insured Unemployment Rate',
					}
				}]
				}
			}
			});
		})

		$.post("http://localhost:8080/national_pc", function(data) {
				listdata = formatnpcData(data);
				var ctx = document.getElementById('national_pc').getContext('2d');
				var chart = new Chart(ctx, {
					// The type of chart we want to create
					type: 'line',
					// The data for our dataset
					data: {
						labels: ['First Quarter 2019', 'Second Quarter 2019', 'Third Quarter 2019', 'Fourth Quarter 2019', 'First Quarter 2020', 'Second Quarter 2020', 'Third Quarter 2020'],
						datasets: [{ 
						data: [listdata[1][0], listdata[2][0], listdata[3][0], listdata[4][0], listdata[5][0], listdata[6][0], listdata[7][0]],
						label: listdata[0][0],
						borderColor: "#3e95cd",
						fill: false
					  },{ 
						data: [listdata[1][1], listdata[2][1], listdata[3][1], listdata[4][1], listdata[5][1], listdata[6][1], listdata[7][1]],
						label: listdata[0][1],
						borderColor: "#ff5733",
						fill: false
					  }]
					},
		
				options: {
					scales: {
					yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'Billions of Dollars',
						}
					}]
					}
				}
				});
			})
			
			$.post("http://localhost:8080/national_egs", function(data) {
				listdata = formatnegsData(data);
				var ctx = document.getElementById('national_egs').getContext('2d');
				var chart = new Chart(ctx, {
					// The type of chart we want to create
					type: 'line',
					// The data for our dataset
					data: {
						labels: ['First Quarter 2019', 'Second Quarter 2019', 'Third Quarter 2019', 'Fourth Quarter 2019', 'First Quarter 2020', 'Second Quarter 2020', 'Third Quarter 2020'],
						datasets: [{ 
						data: [listdata[1][0], listdata[2][0], listdata[3][0], listdata[4][0], listdata[5][0], listdata[6][0], listdata[7][0]],
						label: listdata[0][0],
						borderColor: "#3e95cd",
						fill: false
					  },{ 
						data: [listdata[1][1], listdata[2][1], listdata[3][1], listdata[4][1], listdata[5][1], listdata[6][1], listdata[7][1]],
						label: listdata[0][1],
						borderColor: "#33fdff",
						fill: false
					},{ 
						data: [listdata[1][2], listdata[2][2], listdata[3][2], listdata[4][2], listdata[5][2], listdata[6][2], listdata[7][2]],
						label: listdata[0][2],
						borderColor: "#ffe933",
						fill: false
						},{ 
						data: [listdata[1][3], listdata[2][3], listdata[3][3], listdata[4][3], listdata[5][3], listdata[6][3], listdata[7][3]],
						label: listdata[0][3],
						borderColor: "#53ff33",
						fill: false
						},{ 
						data: [listdata[1][4], listdata[2][4], listdata[3][4], listdata[4][4], listdata[5][4], listdata[6][4], listdata[7][4]],
						label: listdata[0][4],
						borderColor: "#ff333c",
						fill: false
						},{ 
						data: [listdata[1][5], listdata[2][5], listdata[3][5], listdata[4][5], listdata[5][5], listdata[6][5], listdata[7][5]],
						label: listdata[0][5],
						borderColor: "#8a8789",
						fill: false
					  }]
					},
		
				options: {
					scales: {
					yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'Billions of Dollars',
						}
					}]
					}
				}
				});
			})



      </script>


	  



		<script>
			var search_sc_state = document.querySelector("#search_sc_state");
			search_sc_state.addEventListener("keyup", function (e) {
				var span_items = document.querySelectorAll(".table_body ul li .item .scstate span");
				var sc_state = e.target.value.toLowerCase();

				span_items.forEach(function (item) {
					if (item.textContent.toLowerCase().indexOf(sc_state) != -1) {
						item.closest("li").style.display = "block";
						// console.log("true");
					} else {
						item.closest("li").style.display = "none";
						// console.log("false");
					}
				});
				console.log(sc_state);
			});

			var search_su_state = document.querySelector("#search_su_state");
			search_su_state.addEventListener("keyup", function (e) {
				var span_items = document.querySelectorAll(".table_body ul li .item .sustate span");
				var su_state = e.target.value.toLowerCase();
	    
				span_items.forEach(function (item) {
				if (item.textContent.toLowerCase().indexOf(su_state) != -1) {
					item.closest("li").style.display = "block";
					// console.log("true");
				} else {
					item.closest("li").style.display = "none";
					// console.log("false");
				}
				});
				console.log(su_state);
			});
		</script>
	</body>
</html>